* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightcoral;
}

.carousel-container {
  padding: 1.2em;
  border-radius: 1.2em;
  box-shadow: 4px 4px 16px rgb(255, 255, 255);
}

.photo-container {
  display: flex;
  width: 450px;
  height: 450px;
  border-radius: 1.2em;
  background-color: lightgreen;
  overflow: hidden;
  scroll-behavior: smooth;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  padding: 0.3em;
}

.button-container a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(rgb(255, 255, 255), rgb(247, 247, 247));
  box-shadow: 0 1px 5px rgb(177, 176, 176), inset 1px 1px 2px rgb(255, 255, 255);
}
